<style type="text/css">
	
	body #calendar {
		max-width: 1000px;
		margin: 0 auto;
	}
.first {
background-color:#CCC;
}
.second{
background-color:#BBB;
}
.third{
background-color:#AAA;
}
ul,ol,li{list-style-type:none;} 
.shift{
	position: relative;
	height: 40px;
	color: #fff;
	font-size: 11px;
	margin-bottom: 1px;
	margin-right: 6px;
}
.shift span{
	position: absolute;
	left: 3px;
	top: 2px;
	display: block;
	width: 7px;
	height: 100%;
}
.shift ul{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 20px;
	height:37px;
}
.shift ul li{
	cursor: move;
	position: relative;
	padding-top: 2px;
}
.fc-content-skeleton tbody td{
	height:130px;
}


.shift .js-remove {
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
	opacity: 0;
	display: block;
	cursor: pointer;
	color: #FFF;
	top: 0px;
	right: 5px;
	position: absolute;
	font-style: normal;
	font-size:12px;
	line-height:20px;
}
.shift ul li:hover i{
	opacity: 1;
}

.shift .js-add {
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
	opacity: 1;
	display: none;
	cursor: pointer;
	color: #FFF;
	top:5px;
	right: 5px;
	position: absolute;	
	font-style: normal;
	font-size:35px;
	line-height:20px;
}